* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  height: 70px;
  border: 1px solid black;
}
nav h2 {
  width: 30%;
}
nav ul {
  display: flex;
  list-style: none;
  width: 70%;
  align-items: center;
  justify-content: center;
}
nav ul li {
  display: flex;
  justify-content: space-between;
}
