* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.custom-shape-divider-top-1638130835 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1638130835 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 120px;
}

.custom-shape-divider-top-1638130835 .shape-fill {
  fill: #4600a8;
}
.nav-containt {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  color: rgb(255, 255, 255);
}

.nav-containt h2 {
  width: 50%;
  padding-left: 20px;
  font-size: 60px;
  margin: 0;
}
.nav-containt h2 em {
  color: red;
}
.nav-containt h2 span:hover {
  cursor: pointer;
}
.nav-containt h2 .Word1:hover {
  transform: rotate(360deg);
  transition: all 0.4s ease-in;
}

.nav-containt ul {
  list-style: none;
  display: flex;
  width: 50%;
}
.nav-containt ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
}
.nav-containt ul li:hover {
  color: white;
  text-decoration: underline;
}

.body-section {
  min-height: 100vh;
  padding-top: 120px;
}
